<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header/header}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<!-- 個別JS読込 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<title th:text="${title}"></title>
	<script>
		function completebtn() {
			//確認ダイアログを表示する
			if(confirm("作業を完了しますか？")){
				return true;
			}else{
				return false;
			}
		}
	</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="navbar">
			<div>
				<a th:href="@{add}" class="btn-simple01 px-2 py-1">作業登録</a>
				<a th:href="@{schedule}" class="btn-simple01 px-2 py-1 m-2">スケジュール</a>
			</div>
			<form id="user-search-form" method="get" th:action="@{/user/list}" class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control mr-1" name="search" th:value="${param.search}"/>
					<button type="submit" class="btn-simple01">
						<i class="fas fa-search"></i> 検索
					</button>
				</div>
			</form>
		</div>
		<table class="table table-striped table-bordered table-hover text-center">
			<thead>
				<tr>
					<th th:text="#{content}"></th>
					<th th:text="#{user.name}"></th>
					<th th:text="#{create}+#{date}"></th>
					<th th:text="#{end}+#{date}"></th>
					<th th:text="#{completeDate}+#{date}"></th>
					<th th:text="#{process}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${todoList}"
					th:styleappend="${item.endDate < #dates.createNow() && item.completeDate == null}? 'background-color: #f99;'">
					<td th:text="${item.content}" class="text-left col-md-3 text-break"></td>
					<td th:text="${item.userName}"></td>
					<td th:text="${#dates.format(item.createdDate, 'YYYY/MM/dd')}"></td>
					<td th:text="${#dates.format(item.endDate, 'YYYY/MM/dd')}"></td>
					<td th:text="${item.completeDate != null}? ${#dates.format(item.completeDate, 'YYYY/MM/dd')}:'未'"
						th:classappend="${item.completeDate == null} ? text-danger"></td>
					<td class="g3-1mi">
						<div class="d-flex">
							<form th:action="@{/user/list/} + *{item.id}" method="post">
								<button type="submit" class="btn-simple01" name="completed"
									th:text="${item.completeDate}? '完了済':'完了	'"
									th:disabled="${item.completeDate !=null}" onclick="return completebtn()">
								</button>
								<button type="submit" class="btn-simple01 mx-1" name="update">更新</button>
								<button type="submit" class="btn-simple01" name="delete">削除</button>
							</form>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${param.search}">
			<form id="user-search-form" method="post" th:action="@{/user/list}" class="form-inline float-right pb-5">
				<button type="submit" class="btn-simple01">
					戻る
				</button>
			</form>
		</div>
	</div>
</body>

</html>