<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MapperとXMLのマッピング -->
<mapper namespace="katachi.spring.todoList.repository.UserMapper">
	<!-- ToDoリスト取得 searchにパラメータがある場合はwhere句に追加検索 -->
	<select id="findMany" resultType="MUser">
	select
	*
	from
	t_task
	join
	m_user
	on
	t_task.user_id = m_user.id
	where
	delete_flg = 0
	<if test="search != null">
		and
		(
		content like CONCAT('%', #{search}, '%')
		or
		user_name like CONCAT('%', #{search}, '%')
		)
	</if>
	ORDER BY
	complete_date,
	end_date
	</select>
	<!-- ユーザー取得 -->
	<select id="findManyUser" resultType="MUser">
		select
		*
		from
		m_user
	</select>
	<!-- 作業内容1件登録 -->
	<insert id="insertOne">
		insert into t_task(
		content,
		user_id,
		created_date,
		end_date,
		complete_date
		)
		values(
		#{content},
		#{userId},
		now(),
		#{endDate},
		#{completeDate}
		)
	</insert>
	<!-- ToDoリスト1件呼び出し -->
	<select id="findToDoOne" resultType="MUser">
		select
		*
		from
		t_task
		join
		m_user
		on
		t_task.user_id = m_user.id
		where
		t_task.id
		=#{id}
	</select>
	<!-- データベース更新処理 -->
	<update id="updateOne">
		update
		t_task
		set
		content=#{content},
		user_id=#{userId},
		end_date=#{endDate},
		complete_date=#{completeDate}
		where
		id=#{id}
	</update>
	<!-- データベース論理削除処理 -->
	<update id="deleteOne">
		update
		t_task
		set
		delete_flg=1
		where
		id=#{id}
	</update>
	<!-- 作業一覧より完了処理 -->
	<update id="completeOne">
		update
		t_task
		set
		complete_date=CURRENT_DATE
		where
		id=#{id}
	</update>
	<!-- ログインユーザー情報取得 -->
	<select id="findLoginUser" resultType="LoginInfo">
		select
		user_id as user_name,
		user_name as view_name,
		password
		from
		m_user
		where
		user_id = #{userId}
	</select>
</mapper>